<div ng-include="'includes/header.html'"></div>
<section class="home">
  <div class="container">
    <div class="row">

      <div class="col s8 offset-s2">

        <div class="row" ng-repeat="jl in jobList">
        <div class="col s6" ng-repeat="j in jl">
          <div class="card blue-light">
            <div class="card-content white-text">
              <span class="card-title">{{j.title}}</span>
              <img ng-src="{{j.company[0].logo_url}}">
              <p>{{j.company[0].name}} trazi coveka za poziciju {{j.tagsString}}</p>
            </div>
            <div class="card-action">
              <a class="btn-home" href="#!/job/{{j.ad_id}}">Pogledaj vise</a>
            </div>
          </div>
        </div>
      </div>
      </div>


    </div>
  </div>
</section>
