<div ng-include="'includes/header.html'"></div>
<section class="jobadd">
    <div class="container">
        <h2 class="section-title">Job Add</h2>
        <form ng-submit="submit()">
            <div class="row">

                <div class="input-field col s4 offset-s4">
                    <h3>Zahtevi</h3>
                </div>
                <div class="col s4 offset-s4" ng-repeat="r in requirements">
                    <input type="text" ng-model="r.name" class="chip col s9 ">
                    <button type="button" class="btn s3" ng-show="r.show" ng-click="addRequirements(r.name)">+</button>
                    <button type="button" class="btn s3" ng-hide="r.show" ng-click="deleteRequirements(r.name)">-</button>
                </div>


                <div class="btn-send col s4 offset-s4">
                    <button type="submit" class="waves-effect waves-light btn ">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>