<div ng-include="'includes/header.html'"></div>
<section class="jobadd">
    <div class="container">
        <nav id="bk-1">
            <div class="nav-wrapper">
                <div class="container">
                    <div class="col s6 offset-s3">
                        <a href="#!job/add"  class="breadcrumb">Korak 1</a>
                        <a href="#!job/add-2"  class="breadcrumb">Korak 2</a>
                        <a href="#!job/add-3"  class="breadcrumb active">Korak 3</a>
                    </div>
                </div>
            </div>
        </nav>
        <form ng-submit="submit()">
            <div class="row">

                <div class="input-field col s4 offset-s4">
                    <h3>Šta mi nudimo</h3>
                </div>
                <div class="col s4 offset-s4" ng-repeat="o in offers">
                    <input type="text" ng-model="o.name" class="chip col s9 ">
                    <button type="button" class="btn btn-add s3" ng-show="o.show" ng-click="addOffer(o.name)">+</button>
                    <button type="button" class="btn btn-del s3" ng-hide="o.show" ng-click="deleteOffer(o.name)">-</button>
                </div>


                <div class="btn-send col s4 offset-s4">
                    <button type="submit" class="waves-effect waves-light btn ">Završi</button>
                </div>
            </div>
        </form>
    </div>
</section>