<div ng-include="'includes/header.html'">
</div>
<section class="job">
  <div class="container">
    <div class="job-head">
      <h2 class="section-title">Job title</h2>
    </div>
    <div class="job-body">
      <ul>
        <li>
         Hack up furballs missing until dinner time
        </li>
        <li>
          Get video posted to internet for chasing red dot and sometimes switches in french and say "miaoue
        </li>
        <li>
          Lick arm hair lick plastic bags sit and stare so Gate keepers of hell yet leave fur
        </li>
        <li>
          Behind the couch hate dog under the bed.
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit porro nihil ex rem neque consequatur quisquam repellat blanditiis. Nemo, architecto iusto? Tenetur dignissimos eum quasi possimus odit alias sint blanditiis.
        </li>
      </ul>
    </div>

    <div class="job-gallery u-center">
      <div class="row">
        <h2 class="section-title">Gallery</h2>
        <div class="col s4">
          <img src="img/1.jpg" alt="">
        </div>

        <div class="col s4">
          <img src="img/1.jpg" alt="">
        </div>

        <div class="col s4">
          <img src="img/1.jpg" alt="">
        </div>
      </div>
    </div>

    <div class="job-matching u-center">
      <div class="row">
        <h2 class="section-title">Perfect Purr Friends</h2>
        <div class="col s4">
          <h3 class="col-title">Jelena</h3>
          <img src="img/1.jpg" alt="">

        </div>
        <div class="col s4">
          <h3>Jelena</h3>
          <img src="img/1.jpg" alt="">

        </div>
        <div class="col s4">
          <h3>Jelena</h3>
          <img src="img/1.jpg" alt="">

        </div>
      </div>
    </div>



  </div>
</section>
<div ng-include="'includes/footer.html'"></div>