<div ng-include="'includes/header.html'">
</div>
<section class="job">
  <div class="container">
    <div class="job-head">
      <h2 class="section-title">Pekar Lekar i Moler i Automehanicar</h2>
    </div>
    <div class="job-body">
      <ul>
        <li>
         Hack up furballs missing until dinner time
        </li>
        <li>
          Get video posted to internet for chasing red dot and sometimes switches in french and say "miaoue
        </li>
        <li>
          Lick arm hair lick plastic bags sit and stare so Gate keepers of hell yet leave fur
        </li>
        <li>
          Behind the couch hate dog under the bed.
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit porro nihil ex rem neque consequatur quisquam repellat blanditiis. Nemo, architecto iusto? Tenetur dignissimos eum quasi possimus odit alias sint blanditiis.
        </li>
      </ul>
    </div>

    <div class="job-gallery u-center">
      <h2 class="section-title">Pogledajte radno okruženje</h2>
      <div class="row" >
        <div class="col s4" ng-repeat="i in job.company.images">
          <img ng-src="{{i.url}}">
        </div>
      </div>
    </div>

    <div class="perfect-candidates">
      <div class="container">
        <h2 class="section-title">Savršeni kandidati</h2>
        <div class="row">
        <div class="col s4">
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">Slavko Radovanović</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
              <a href="#" class="btn btn-primary btn-contact">Kontaktiraj</a>
            </div>
          </div>
        </div>
        
        <div class="col s4">
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">Jelica Sretenović</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
              <a href="#" class="btn btn-primary btn-contact">Kontaktiraj</a>
            </div>
          </div>
        </div>

        <div class="col s4">
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">Goran Buđelan</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
              <a href="#" class="btn btn-primary btn-contact">Kontaktiraj</a>
            </div>
          </div>
        </div>

      </div>
      </div>
    </div>



  </div>
</section>
<div ng-include="'includes/footer.html'"></div>