<div ng-include="'includes/header.html'"></div>
<section class="login">
  <div class="container">
    <div class="form-wrapper">
      <div class="row">
        <h3 class="site-title u-center">Poslići</h3>
        <form class="col s12" ng-submit="submit()">
          <div class="row">
            <div class="input-field col s6 offset-s3">
              <input id="email" type="email" class="validate" placeholder="Email" ng-model="username">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6 offset-s3">
              <input id="password" type="password" class="validate" placeholder="Password" ng-model="password">
            </div>
          </div>
          <button type="submit" class="waves-effect waves-light btn btn-login">Uloguj se</button>
          <p class="ng-{{error}}">Uneli ste pogresne podatke</p>
        </form>
      </div>
      <!--row-->
    </div>
    <!---form-wrapper-->
  </div>
  <!--container -->
</section>
<div ng-include="'includes/footer.html'"></div>