<div ng-include="'includes/header.html'">
</div>  
<section class="profile-company">
    <div class="container">
      <div class="row">
        <form action="">

        
        <div class="input-field col s4 offset-s4">
          <input id="name" type="text" class="validate" required>
          <label for="name">Name</label>
        </div>

         <div class="input-field col s4 offset-s4">
          <input id="email" type="email" class="validate" required>
          <label for="email">Email</label>
        </div>

        <div class="input-field col s4 offset-s4">
          <input id="password" type="password" class="validate" required>
          <label for="password">Password</label>
        </div>

        <div class="input-field col s4 offset-s4">
          <input id="adress" type="text" class="validate">
          <label for="adress">Adress</label>
        </div>

        <div class="input-field col s4 offset-s4">
          <input id="logo" type="text" class="validate" >
          <label for="logo">Logo</label>
        </div>

        <div class="input-field col s4 offset-s4">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Desc</label>
        </div>

         <div class="input-field col s4 offset-s4">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Contact</label>
        </div>
        </form>

        <div class="btn-send col s4 offset-s4">
          <button class="waves-effect waves-light btn">Submit</button>
        </div>

      </div> <!--row-->
    </div> <!--container-->
    
  </section>