<div ng-include="'includes/header.html'"></div>
<section class="profile-user">
  <div class="container">
    <div class="row">
      <form ng-submit="submit()">
        <h3 class="col s4 offset-s4">Basic info</h3>
        <div class="input-field col s4 offset-s4">
          <input ng-model="user.name" id="name" type="email" class="validate" required placeholder="Name">
        </div>

        <div class="input-field col s4 offset-s4">
          <input ng-model="user.email" id="email" type="email" class="validate" required placeholder="email">
        </div>

        <div class="input-field col s4 offset-s4">
          <input ng-model="user.password" id="password" type="password" class="validate" required placeholder="password">
        </div>

        <div class="input-field col s4 offset-s4">
          <input ng-model="user.address" id="address" type="text" class="validate" placeholder="Address">
        </div>


        <div class="input-field col s4 offset-s4">
          <input ng-model="user.position" id="logo" type="text" class="validate" placeholder="Position">
        </div>

        <div class="input-field col s4 offset-s4">
          <textarea ng-model="user.desc"  class="materialize-textarea" placeholder="Description"></textarea>
        </div>

        <div class="input-field col s4 offset-s4">
          <textarea ng-model="user.contact"  placeholder="Contact" class="materialize-textarea"></textarea>
        </div>
        <h3 class="col s4 offset-s4">Education</h3>
        <div class="input-field col s4 offset-s4">
          <input ng-model="user.school" id="school" type="email" class="validate" required placeholder="School">
        </div>


        <div class="input-field col s4 offset-s4">
          <input ng-model="user.diploma" id="diploma" type="text" class="validate" placeholder="Diploma">
        </div>

        <h3 class="col s4 offset-s4">Skills</h3>

          <div class="col s4 offset-s4" ng-repeat="chip in chips">
            <input type="text" ng-model="chip.tag" class="chip col s9 ">
              <button class="btn s3" ng-show="chip.show" ng-click="addChip(chip.tag)">+</button>
              <button class="btn s3" ng-hide="chip.show" ng-click="deleteChip(chip.tag)">-</button>
          </div>

    <div class="input-field col s4 offset-s4">
      <select ng-model="user.level" id="#select" class="browser-default select-material">
        <option value="" disabled selected>Level</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>

    </div>

    
      <div class="btn-send col s4 offset-s4">
        <button type="submit" class="waves-effect waves-light btn ">Submit</button>
      </div>

    </form>
  </div>
  <!--row-->
  </div>
  <!--container-->

</section>