<div ng-include="'includes/header.html'">
</div>
<section class="profile-user">
    <div class="container">
      <div class="row">
        <form action="">
          <h3 class="col s4 offset-s4">Basic info</h3>
          <div class="input-field col s4 offset-s4">
            <input id="name" type="email" class="validate" required>
            <label for="name">Name</label>
          </div>

          <div class="input-field col s4 offset-s4">
            <input id="email" type="email" class="validate" required>
            <label for="email">Email</label>
          </div>

          <div class="input-field col s4 offset-s4">
            <input id="password" type="password" class="validate" required>
            <label for="password">Password</label>
          </div>

          <div class="input-field col s4 offset-s4">
            <input id="adress" type="text" class="validate">
            <label for="adress">Adress</label>
          </div>

          <div class="input-field col s4 offset-s4">
            <input id="logo" type="text" class="validate">
            <label for="logo">Position</label>
          </div>

          <div class="input-field col s4 offset-s4">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Desc</label>
          </div>

          <div class="input-field col s4 offset-s4">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Contact</label>
          </div>
          <h3 class="col s4 offset-s4">Education</h3>
          <div class="input-field col s4 offset-s4">
            <input id="school" type="email" class="validate" required>
            <label for="school">School</label>
          </div>

          <div class="input-field col s4 offset-s4">
            <input id="diploma" type="text" class="validate">
            <label for="diploma">Diploma</label>
          </div>
          <h3 class="col s4 offset-s4">Skills</h3>
          
          <div class="skills col s4 offset-s4" ng-repeat="chip in chips">
            <input type="text" class="chip validate ng-{{chip.show}}"  ng-model="chip.chip"><button class="ng-{{chip.hide}}" ng-click="deleteChip(chipCount)">x</button>
          </div>
          <div class="input-field col s4 offset-s4">
            <select class="form-input" ng-model="points">
              <option ng-value="1">1</option>
              <option ng-value="2">2</option>
              <option ng-value="3">3</option>
              <option ng-value="4">4</option>
              <option ng-value="5">5</option>
            </select>
          </div>


        </form>
      </div>
        <div class="btn-send">
          <button class="waves-effect waves-light btn ">Submit</button>
        </div>


      <!--row-->
    </div>
    <!--container-->

  </section>