.btn {
  background-color:$color-primary;
  &:hover {
    opacity:0.8;
    background-color:$color-primary;
  }
}
.btn-signup,
.btn-login {
  margin-left:25%;
}
.btn:focus, .btn-large:focus, .btn-floating:focus {
  background-color:$color-primary;
}