//Job
.job-body {
  padding-top:50px;
  padding-bottom:50px;
}
.job-body li {
  margin-bottom:15px;
}
// forms
.btn-send {
  margin-left:33.333%;
}

//cards 
.blue-light {
  background-color:#FFE66D !important;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color:$color-white;
  &:hover {
    opacity:0.8;
    color:$color-white;
  }
}
.card .card-content p {
  color:$color-textdark;
}
.card .card-content .card-title {
  color:$color-textdark;
}