@import 'font-family';
@import 'color';
@import 'mixin';
@import 'function';

body {
	font: $font-size $font-stack
}

html,
body {
	overflow-x: hidden;
	text-rendering: optimizeLegibility
}

img {
	max-width: 100%;
	vertical-align: middle
}

p {
	line-height: 145%
}
section {
  padding:80px 0;
}
.section-title {
  text-align:center;
  margin-bottom:50px;
}
.u-center {
  text-align: center;
}
//Reset
.md-chip-remove {
  width:25px;
}
.push-bot {
  margin-top:30px;
}
body > div > section > div > div > form > div.push-bottom > div > button {
  margin-top:30px;
}
select {
   position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    display: block;
}
